@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html,body {
    width: 100%;
    height: 100%;
    background: #F5F3EF;
}

header nav{
    width: 100%;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    gap:10px;
}

.heading h1 {
    width: 70%;
    font-size: 35px;
    letter-spacing: -1px;
    line-height: 30px;
}
.bottomNav{
    justify-content: space-between;
}

.scrolls,.bottomNav{
    display: flex;
    gap:5px;
    font-weight: 600;
    font-size:13px;
}
main{
    width: 100%;
    height: 100%;
}

.heroSec{
    width: 100%;
    height: 40%;
    background-image: url("https://assets-global.website-files.com/64589fb989b2b33c593db89d/6458a6db645ec6a527000cfa_home-hero.webp");
    background-size: cover;
    background-position: top;
}
.aboueSec{
    width: 100%;
    padding: 20px 15px;
}

.aboutTop{
    display: flex;
    flex-direction: column;
    gap:15px;
    padding-bottom: 20px;
    border-bottom:1.5px solid black;
}

.iconsContainet{
    display:flex;
    flex-direction: column;
    gap:5px;
}

.iconsContainet p ,.question p,.question i,.iconsContainet i{
    font-weight: 600;
}
.icons{
    display: flex;
    gap:5px;
}
.iconsContainet i{
    height: 25px;
    width: 25px;
    background: black;
    color:#fff;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:10px;
}
.aboutHeading h1{
    font-size: 27px;
}

.question{
    display: flex;
    justify-content: space-between;
}

.aboutBottom{
    padding: 20px 0;
    border-bottom:1.5px solid black;
    display: flex;
    flex-direction: column;
    gap:30px;
}
.padding{
    padding-bottom: 30px 0;
}
.flex h1{
    font-size: 20px;
}
.flex p{
    font-size:10px;
}
.flex{
    display: flex;
    gap:10px;
}

.about1,.about2{
    display: flex;
    flex-direction: column;
    gap:3px;
    width: 50%;
}
.about1:nth-child(2),.about2:nth-child(2){
  padding-left: 20px;
  border-left:1.5px solid black;
}
.flex:nth-child(3){
    border-top:1.5px solid black;
    padding-top: 25px;
}


.heroSec2{
    width: 100%;
    height: 40%;
    background-image: url("https://cdn.prod.website-files.com/64589fb989b2b3e8783db8c8/645cad0d8364135d4087b9c8_project-01.webp");
    background-size: cover;
    background-position: top;
}

.info{
    width: 100%;
    padding:20px;
}

.btns,.btn{
    display: flex;
    gap:5px;
    font-size: 8px;
}
.info h1{
    font-size:35px;
}
.info p{
    font-size:10px;
    color:#525252;
}
.btn p,.btns p{
    background: black;
    color:#fff;
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: 800;
}
.info{
    display: flex;
    flex-direction: column;
    gap:8px;
}


.heroSec3{
    width: 100%;
    height: 40%;
    background-image: url("https://cdn.prod.website-files.com/64589fb989b2b3e8783db8c8/645cad129d3885d86c115c7f_project-02.webp");
    background-size: cover;
    background-position: top;
}

.heroSec4{
    width: 100%;
    height: 40%;
    background-image: url("https://cdn.prod.website-files.com/64589fb989b2b3e8783db8c8/645cad1988b7ca338942d0b3_project-03.webp");
    background-size: cover;
    background-position: top;
}

.btn{
    border-bottom:1.5px solid black;
    padding-bottom: 20px;
}
.clints{
    width: 100%;
    padding:0 20px;
    display: flex;
    flex-direction: column;
    gap:20px;
}
.clint{
    display: flex;
    justify-content: space-between;
    font-weight: 800;
}

.clintInfo{
    display: flex;
    width: 100%;
    gap:20px;
}

.clint1,.clint2{
    width: 50%;
}
.clint1 h1,.clint2 h1{
    font-size:15px;
}

.clint1 p,.clint2 p{
    font-size:10px;
    color:#525252;
}
.clint1,.clint2{
    display: flex;
    flex-direction: column;
    gap:8px;
    
}

.clint2Img,.clint1Img{
    display: flex;
    gap:5px;
    align-items: center;
}
.clint2Img img,.clint1Img img{
    border-radius: 50%;
}
.clint2Name h1,.clint1Name h1,.clint1Name p,.clint2Name p{
    font-size: 10px;
    font-weight: 800;
}

.clint1:nth-child(2),.clint2:nth-child(2){
  padding-left: 20px;
  border-left:1.5px solid black;
}

.clintInfo:nth-child(2){
    padding-bottom: 20px;
    border-bottom:1.5px solid black;
}

.clintInfo:nth-child(3) {
    padding-bottom: 20px;
    border-bottom: 1.5px solid black;
}

.buttons{
    display: flex;
    position: fixed;
    gap:5px;
    font-size: 15px;
    font-weight:800;
    right: 5px;
}

.buttons p{
    background: black;
    color:#fff;
    padding: 5px 10px;
    border-radius: 20px;
}

@media screen and (min-width:600px) {
  header nav {
    padding: 40px 30px;
    gap: 20px;
  }

  .heading h1 {
    font-size: 70px;
    letter-spacing: -2px;
    line-height: 60px;
  }

  .scrolls, .bottomNav {
    gap: 10px;
    font-size: 26px;
  }

  .bottomNav {
    justify-content: space-between;
  }

  .heroSec, .heroSec2, .heroSec3, .heroSec4 {
    height: 40vw;
  }

  .aboueSec {
    padding: 40px 30px;
  }

  .aboutTop {
    gap: 30px;
    padding-bottom: 40px;
    border-bottom: 3px solid black;
  }

  .iconsContainet {
    gap: 10px;
  }

  .iconsContainet p, .question p, .question i, .iconsContainet i {
    font-weight: 600;
  }

  .icons {
    gap: 10px;
  }

  .iconsContainet i {
    height: 50px;
    width: 50px;
    font-size: 20px;
  }

  .aboutHeading h1 {
    font-size: 54px;
  }

  .question {
    justify-content: space-between;
  }

  .aboutBottom {
    padding: 40px 0;
    gap: 60px;
    border-bottom: 3px solid black;
  }

  .padding {
    padding-bottom: 60px 0;
  }

  .flex {
    gap: 20px;
  }

  .flex h1 {
    font-size: 40px;
  }

  .flex p {
    font-size: 20px;
  }

  .about1, .about2 {
    gap: 6px;
  }

  .about1:nth-child(2), .about2:nth-child(2) {
    padding-left: 40px;
    border-left: 3px solid black;
  }

  .flex:nth-child(3) {
    border-top: 3px solid black;
    padding-top: 50px;
  }

  .info {
    padding: 40px;
    gap: 16px;
  }

  .info h1 {
    font-size: 70px;
  }

  .info p {
    font-size: 20px;
  }

  .btns, .btn {
    gap: 10px;
    font-size: 16px;
  }

  .btn p, .btns p {
    padding: 10px 20px;
    font-size: 16px;
  }

  .btn {
    padding-bottom: 40px;
    border-bottom: 3px solid black;
  }

  .clints {
    padding: 0 40px;
    gap: 40px;
  }

  .clint {
    font-weight: 800;
  }

  .clintInfo {
    gap: 40px;
  }

  .clint1, .clint2 {
    gap: 16px;
  }

  .clint1 h1, .clint2 h1 {
    font-size: 30px;
  }

  .clint1 p, .clint2 p {
    font-size: 20px;
  }

  .clint2Img, .clint1Img {
    gap: 10px;
  }

  .clint2Name h1, .clint1Name h1,
  .clint1Name p, .clint2Name p {
    font-size: 20px;
  }

  .clint1:nth-child(2), .clint2:nth-child(2) {
    padding-left: 40px;
    border-left: 3px solid black;
  }

  .clintInfo:nth-child(2), .clintInfo:nth-child(3) {
    padding-bottom: 40px;
    border-bottom: 3px solid black;
  }

  .buttons {
    gap: 10px;
    font-size: 30px;
    right: 10px;
  }

  .buttons p {
    padding: 10px 20px;
    border-radius: 40px;
  }

  .question, .questions p, .scrolls p,
  .bottomNav, .iconsContainet, .clint {
    font-size: 25px;
  }

  .clint1Img img, .clint2Img img {
    width: 70px;
  }
}


@media screen and (min-width:1200px) {
  header nav {
    padding: 80px 60px;
    gap: 40px;
  }

  .heading h1 {
    font-size: 140px;
    letter-spacing: -4px;
    line-height: 120px;
  }

  .scrolls, .bottomNav {
    gap: 20px;
    font-size: 52px;
  }

  .bottomNav {
    justify-content: space-between;
  }

  .heroSec, .heroSec2, .heroSec3, .heroSec4 {
    height: 40vw;
  }

  .aboueSec {
    padding: 80px 60px;
  }

  .aboutTop {
    gap: 60px;
    padding-bottom: 80px;
    border-bottom: 6px solid black;
  }

  .iconsContainet {
    gap: 20px;
  }

  .iconsContainet p, .question p, .question i, .iconsContainet i {
    font-weight: 600;
  }

  .icons {
    gap: 20px;
  }

  .iconsContainet i {
    height: 100px;
    width: 100px;
    font-size: 40px;
  }

  .aboutHeading h1 {
    font-size: 108px;
  }

  .question {
    justify-content: space-between;
  }

  .aboutBottom {
    padding: 80px 0;
    gap: 120px;
    border-bottom: 6px solid black;
  }

  .padding {
    padding-bottom: 120px 0;
  }

  .flex {
    gap: 40px;
  }

  .flex h1 {
    font-size: 80px;
  }

  .flex p {
    font-size: 40px;
  }

  .about1, .about2 {
    gap: 12px;
  }

  .about1:nth-child(2), .about2:nth-child(2) {
    padding-left: 80px;
    border-left: 6px solid black;
  }

  .flex:nth-child(3) {
    border-top: 6px solid black;
    padding-top: 100px;
  }

  .info {
    padding: 80px;
    gap: 32px;
  }

  .info h1 {
    font-size: 140px;
  }

  .info p {
    font-size: 40px;
  }

  .btns, .btn {
    gap: 20px;
    font-size: 32px;
  }

  .btn p, .btns p {
    padding: 20px 40px;
    font-size: 32px;
  }

  .btn {
    padding-bottom: 80px;
    border-bottom: 6px solid black;
  }

  .clints {
    padding: 0 80px;
    gap: 80px;
  }

  .clint {
    font-weight: 800;
  }

  .clintInfo {
    gap: 80px;
  }

  .clint1, .clint2 {
    gap: 32px;
  }

  .clint1 h1, .clint2 h1 {
    font-size: 60px;
  }

  .clint1 p, .clint2 p {
    font-size: 40px;
  }

  .clint2Img, .clint1Img {
    gap: 20px;
  }

  .clint2Name h1, .clint1Name h1,
  .clint1Name p, .clint2Name p {
    font-size: 40px;
  }

  .clint1:nth-child(2), .clint2:nth-child(2) {
    padding-left: 80px;
    border-left: 6px solid black;
  }

  .clintInfo:nth-child(2), .clintInfo:nth-child(3) {
    padding-bottom: 80px;
    border-bottom: 6px solid black;
  }

  .buttons {
    gap: 20px;
    font-size: 60px;
    right: 20px;
  }

  .buttons p {
    padding: 20px 40px;
    border-radius: 80px;
  }

  .question, .questions p, .scrolls p,
  .bottomNav, .iconsContainet, .clint {
    font-size: 50px;
  }

  .clint1Img img, .clint2Img img {
    width: 140px;
  }
}
